.left-nav {
    position: fixed;
    width: 20%;
    height: 100vh;
    left: 0;
    border-right: 0.5px solid #000;
    overflow: hidden auto;
}

.right-side {
    position: fixed;
    padding: 10px;
    right: 0;
    width: 80%;
    height: 100vh;
    overflow: hidden auto;
}

.container-2 {
    width: 85%;
    margin: 10px auto;
}